# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Files without extensions
.*.swp

# Local file settings
*.localized

# macOS specific directories
.CFUserTextEncoding
.networkshare
.VolumeIcon.icns

# Exclude all markdown files
*.md
!README.md
